<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>个人信息</title>
    <link rel="stylesheet" href="/static/css/materialize.css">
    <link rel="stylesheet" href="/static/css/materialicon.css">
</head>
<body>
<nav>
    <div class="nav-wrapper light-blue">
        <a href="#" class="brand-logo font_show"><h4>阳台蔬菜</h4></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/myinfo"><i class="mdi-action-perm-contact-cal"></i></a></li>
            <li><a href="/talk/"><i class="mdi-social-notifications-paused"></i></a></li>
            <li><a href="#">注销</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1>个人信息</h1>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
        <i class="large mdi-action-add-shopping-cart"></i>
    </a>
    <ul>
        <li><a class="btn-floating red"><i class="large mdi-editor-insert-chart"></i></a></li>
        <li><a class="btn-floating yellow darken-1"><i class="large mdi-editor-format-quote"></i></a></li>
        <li><a class="btn-floating green"><i class="large mdi-editor-publish"></i></a></li>
        <li><a class="btn-floating blue"><i class="large mdi-editor-attach-file"></i></a></li>
    </ul>
</div>
</div>
</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/materialize.min.js"></script>
</html>
