<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>交流</title>
    <link rel="stylesheet" href="/static/css/materialicon.css">
    <link rel="stylesheet" href="/static/css/materialize.css">
    <style>
        .font_show{
            font-family: 'Microsoft YaHei UI'
        }
    </style>
</head>
<body>
  <nav>
    <div class="nav-wrapper light-blue">
    <a href="#" class="brand-logo font_show"><h4>阳台蔬菜</h4></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/myinfo"><i class="mdi-action-perm-contact-cal"></i></a></li>
      <li><a href="#"><i class="mdi-social-notifications-paused"></i></a></li>
      <li><a href="#">注销</a></li>
    </ul>
    </div>
  </nav>
  <div class="container">
      <div class="row card-panel">
          <div class="col s6 offset-s1 card light-green lighten-1">
            <div class="card-panel" style="height: 350px; margin: 5% 1% 5% 1%"><h1>聊天记录</h1></div>
            <div class="card z-depth-1 " style="height: 50px; margin-bottom: 5%"><input type="text" value="此处发消息"> </div>
          </div>
          <div class="col s4  card blue">
              <div class="card-panel" style="height: 439px; margin: 5% 1% 5% 1%">
                  <div id="main">
                      <h1>蔬菜信息</h1>
                  </div>
              </div>
          </div>
      </div>
  </div>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
        <i class="large mdi-action-add-shopping-cart"></i>
    </a>
    <ul>
        <li><a class="btn-floating red"><i class="large mdi-editor-insert-chart"></i></a></li>
        <li><a class="btn-floating yellow darken-1"><i class="large mdi-editor-format-quote"></i></a></li>
        <li><a class="btn-floating green"><i class="large mdi-editor-publish"></i></a></li>
        <li><a class="btn-floating blue"><i class="large mdi-editor-attach-file"></i></a></li>
    </ul>
</div>
</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/materialize.min.js"></script>
<script src="/static/js/echarts.common.min.js"></script>
</html>